<app-nav-bar></app-nav-bar>

<div class="user__container">
    <div class="user__form">
        <header>
            <div>
                <h1> {{currentAction.info}} </h1>
            </div>
            <div>
                <button mat-raised-button color="accent" aria-label="crear user" (click)="createUser()">
                    <mat-icon>add</mat-icon> Crear Usuario
                </button>
            </div>
        </header>

        <div>
            <form [formGroup]="form">

                <mat-form-field>
                    <mat-label> Nombre</mat-label>
                    <input matInput formControlName="name" placeholder="indique su nombre" autocomplete="off">
                </mat-form-field>

                <mat-form-field>
                    <mat-label> Email </mat-label>
                    <input matInput formControlName="email" placeholder="demo@demo.com" autocomplete="off">
                </mat-form-field>

                <mat-form-field>
                    <mat-label> Password </mat-label>
                    <input matInput formControlName="password" type="password"
                        placeholder="Debe ser mayor a 5 carácteres" autocomplete="off">
                </mat-form-field>

                <mat-form-field>
                    <mat-label> Rol </mat-label>
                    <mat-select formControlName="role" placeholder="Rol del usuario">
                        <mat-option *ngFor="let item of itemsRole" [value]="item.role">
                            {{item.role}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Estatus</mat-label>
                    <mat-select formControlName="status" placeholder="Estatus del usuario">
                        <mat-option *ngFor="let item of itemsStatus" [value]="item.status">
                            {{ item.status }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <footer>
            <div>
                <button mat-raised-button color="warn" [disabled]="currentAction.id==1" (click)="cancelar()"> <span
                        class="material-icons">undo</span>Cancelar</button>
            </div>
            <div>
                <button mat-raised-button color="primary" [disabled]="form.invalid || currentAction.id==1"
                    (click)="saveUser()"> <span class="material-icons">
                        save
                    </span> Guardar</button>
            </div>
        </footer>
    </div>

    <div class="user__table">
        <header>

            <div>
                <h1> Listado de Usuarios </h1>
            </div>
            <form [formGroup]="formFilter">
                <mat-form-field>
                    <mat-label>Estatus</mat-label>
                    <mat-select formControlName="status" placeholder="Estatus del usuario"
                        (ngModelChange)="changeFilter()">
                        <mat-option *ngFor="let item of itemsStatus" [value]="item.status">
                            {{item.status}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </header>
        <app-data-table [users]="users" [displayedColumns]="displayedColumns" (outSelectRow)="selectedUser($event)"
            (outDeleteUser)="deleteUser($event)" (outUpdateUser)="updateUser($event)">
        </app-data-table>
    </div>

    <div class="user_table_msg_portrait">
        <h1> Para visualizar el listado de usuario rote el dispositivo </h1>
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>