.user__container{ 
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    div{
        margin: 2px;
        padding: 10px;
    }
}

.user__form{
    height: 100%;
    flex: 2 ;
 header{
    justify-content: space-between;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
 }
    
}

.user__table{
    flex: 3;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

mat-form-field{
    width: 100%;
}
.user_table_msg_portrait{
    display:none;
    text-align: center;
    
}


@media (max-width: 414px) {
    .user__table{
     display: none;
    }

 .user_table_msg_portrait{
     display: initial;
     background: #3f51b5;
     color: white;
 }
 }

 @media (max-width: 414px) {
    .user__table{
     display: none;
    }

 .user_table_msg_portrait{
     display: initial;
     background: #3f51b5;
     color: white;
 }

 }

 @media only screen and (max-width: 768px) and (orientation: landscape) {
    .user__table{
        flex: 3 auto;
    }
   

 }