<div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estatus </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Fecha de Creación </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate  | date}}  </td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef >  </th>
        <td mat-cell *matCellDef="let element"  > 
        
          <span style="cursor: pointer;"
          (click)="onUpdateUser(element)"
           [ngClass]="{'overRowHidden':idRowOver != element._id , 'overRowView': idRowOver == element._id }">
            <mat-icon> mode_edit_outline</mat-icon>
        </span>
          <span style="cursor: pointer;"
           (click)="onDeleteUser(element._id)" 
           [ngClass]="{'overRowHidden':idRowOver != element._id , 'overRowView': idRowOver == element._id }">
            <mat-icon>delete_outline</mat-icon>
      </span>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
      
      [ngClass]="{'selectedRow': selectedRowValue?._id === row._id }"
      (mouseover)="onOverRow(row)"
      (mouseout)="onMouseOut()"
      (click)="onSelectedRow(row)"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>