<h1 mat-dialog-title>Confirmación</h1>
<div mat-dialog-content>
  <p>Desea eliminar el registro de la base de datos?</p>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</div>